<mat-form-field class="owners-chip-list">
  <mat-chip-list #ownerList>
    <mat-chip
      *ngFor="let owner of owners"
      [removable]="removable"
      (removed)="remove(owner)">
      {{owner.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Owners"
      #ownerInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="ownerList"
      (keyup)="search(ownerInput.value)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let owner of owners$ | async" [value]="owner">
      {{ owner.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
