.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.companies-table table tr {
  cursor: pointer;
}

.companies-table table tr:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.companies-table table tr.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
