<!--<div style="text-align:center">-->
  <!--<h1>{{ title }}</h1>-->
<!--</div>-->
<!--<app-companies></app-companies>-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{ title }}</span>
      <!--<div class="mdl-layout-spacer"></div>-->
      <!--<nav class="mdl-navigation mdl-layout&#45;&#45;large-screen-only">-->
        <!--<a class="mdl-navigation__link">Dashboard</a>-->
        <!--<a class="mdl-navigation__link">Manage</a>-->
      <!--</nav>-->
    </div>
  </header>
  <main class="mdl-layout__content" style="padding: 20px;">
    <app-companies></app-companies>
  </main>
</div>

